body{font-family:"Roboto", sans-serif}
.header {height:100vh;width:100vw;}
.header_img {width:100%; height :100%;border-radius:0 px 100 px; opacity:0.5}
.container {width: 80%; margin:auto;}

/*.header {height:70vh;width:70vw;margin:auto;}
.header_img {width:100%; height :100%; border-radius:0px 100px;}
.container {width: 80%; margin:auto;}

.container_img{height:70vh;width:70vw;margin:auto;opacity:0.5}*/
